
html, body {
    margin: 0;
    padding: 0;
    background-color: #fbfbfb !important;
}
.centered
{
	text-align: center;
}
.whole-mail
{
	width: 60% !important;
	margin-left: 20% !important;
	background-color: #fff !important;
}
.header
{
	background-image: url("https://kampuni.s3.amazonaws.com/assets/header.jpg");
	background-color: #cccccc;
	height: 150px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.title
{
	/*color: #00a3f0;*/
	color: #fff;
	text-align: center;
	font-weight: bold;
	line-height: 1px !important;
	font-family: 'Fontastique Fontastique' !important;
	font-weight: 700 !important;
	font-size: 3rem !important;
}
.sub-title
{
	color: #fff;
	font-size: 0.9rem;
	text-align: center;
}
.sub-sub-title
{
	color: #fff;
	text-align: center;
}
.view-tender-listing-button
{
	background-color: #03a9f5;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
	margin-top: 10px;
}
.view-tender-listing-button
{
	text-decoration: none;
}
.body-div
{
	padding: 20px;
}
.download-suggestion
{
	font-size: 0.9rem;
	color: #6c6d71;
	text-align: center;
}
.notice
{
	font-size: 0.9rem;
	color: #000;
	text-align: center;
}
.bidbond-second-title
{
	background-image: url("https://kampuni.s3.amazonaws.com/assets/1119.jpg");
	color: #fff;
	/*height: 250px;*/
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	font-size: 1.5rem;
	margin-top: 10px;
	text-transform: uppercase;
}
.second-title
{
	background-image: url("https://kampuni.s3.amazonaws.com/assets/Mobile%20Device.jpg");
	color: #fff;
	height: 200px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	font-size: 1.5rem;
	margin-top: 10px;
	text-transform: uppercase;
}
.introductory-title
{
	background-image: url("https://kampuni.s3.amazonaws.com/assets/hand-shake.jpg");
	color: #fff;
	height: 200px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	font-size: 1.5rem;
	margin-top: 10px;
	// text-transform: uppercase;
}
.starting-introductory-email
{
	width: 100% !important;
}
.services-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}
.services-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #fff;
  color: #fff;
}
.services-table td, .services-table th {
  border: 1px solid #fff; /*ddd*/
  padding: 8px;
}
.services-table tr:nth-child(even){
	background-color: #fff;
}
.services-table tr:hover {
	background-color: #fff;
}
.tender-title h2
{
	font-size: 0.95rem !important;
}
.tender-title p
{
	font-size: 0.8rem !important;
	color: #6c6d71;
}
.service-icon
{
	width: 15%;
	float: left;
}
.service-details
{
	width: 75%;
	float: right;
}
.terms-of-use
{
	padding: 20px;
	text-align: center;
	line-height: 1.5;
}
.terms-of-use p
{
	color: #6c6d71;
	font-size: 0.8rem;
}
.terms-of-use h3
{
	font-size: 0.95rem;
}
.terms-of-use h4
{
	font-size: 0.95rem;
}
.social li
{
	list-style: none;
	/*width: 30%;*/
	display: inline-block;
}
.social li img
{
	width: 95%;
	border-radius: 5px;
}
.unsubscribe-link
{
	color: #6c6d71;
}
.start-now-button
{
	background-color: #03a9f5;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 20px;
	margin-top: 10px;
	text-decoration: none !important;
}
.mail-start
{
	padding-top: 150px;
	font-size: 1.3rem;
}
.introductory-mail-start
{
	padding-top: 100px;
	font-size: 1.3rem;
}
.to
{
	font-size: 1.2rem;
	margin-top: -10px !important;
}
.introductory-sub-title
{
	color: #410c00 !important;
	font-size: 1.2rem;
	margin-top: -10px !important;
}
.mail-body
{
	color: #6c6d71;
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
}
.suggestion-title
{
	font-size: 1.1rem;
	font-weight: bold;
	color: #000;
}
.waiting-section
{
	background-color: #f0eeef;
	padding-bottom: 20px;
	text-align: center;
	border-radius: 10px;
}
.waiting-section img
{
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.waiting-section p
{
	color: #6c6d71;
	font-size: 0.85rem;
	padding: 10px;
}
.waiting-section h4
{
	font-size: 0.9rem;
}
.start-tendering-button
{
	background-color: #03a9f5;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
	margin-top: 10px;
	text-decoration: none !important;
}
.question-title
{
	font-size: 1rem;
	font-weight: bold;
	color: #000;
}
.yes-button
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #ff9a32 !important; //0782cf
	color: #410c00 !important;
	text-decoration: none !important;
}
.no-button
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #0782cf !important;
	color: #fff;
	text-decoration: none !important;
}
.view-in-browser-button
{
	background-color: #03a9f5;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
	margin-top: 10px;
	text-decoration: none !important;
}
.tenders-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.tenders-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #001236;
  color: #00a3f0;
}
.tenders-table td, .tenders-table th {
  border: 1px solid #fff; /*ddd*/
  padding: 8px;
}
.tenders-table tr:nth-child(even){
	background-color: #f0eeef;
}
.tenders-table tr:hover {
	background-color: #ddd;
}
.view-tender-button
{
	background-color: #03a9f5;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
	text-decoration: none !important;
}
.tender-owner
{
	font-size: 0.85rem;
	color: #6c6d71;
}
.tender-closing-date
{
	font-size: 0.85rem;
}
.table-head
{
	font-size: 0.85rem;
}
.nav
{
	text-align: center;
	width: 100%;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
}
.nav li
{
	list-style: none;
	display: inline-block;
}
.nav li a
{
	color: #000;
	text-decoration: none;
	font-size: 0.9rem;
}
.automating
{
	color: #262535 !important;
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
	margin-top: 10px;

	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
}
.tenders-list
{
	text-transform: uppercase;
	color: #03a9f5;
	font-size: 1.2rem !important;
}
.pre-qualification-title
{
	color: #ff9a32;
	text-transform: uppercase;
	font-size: 1.2rem !important;
}
.pre-qualification-section
{
	padding-bottom: 20px;
	text-align: center;
	border-top: 1px solid #ddd;
	padding-top: 20px;
}
.pre-qualification-section img
{
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.pre-qualification-section p
{
	color: #6c6d71;
	font-size: 0.9rem;
}
.prequalified
{
	color: #03a9f5;
	text-transform: uppercase;
}
.pre-qualification-yes-button
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #01064a !important;
	color: #fff;
}
.pre-qualification-maybe-button
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #01064a !important;
	color: #d89153;
}
.blue-color
{
	color: #03a9f5;
}
.e-tender-platform
{
	color: #01064a;
	font-size: 1.2rem !important;
}
.notifications-title
{
	color: #01064a;
	font-size: 1.2rem !important;
}
.daily-notifications
{
	text-transform: uppercase;
	font-weight: bold;
}
.subscribe-button
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 30px;
	padding-left: 30px;
	color: #d89153;
	font-weight: bold;
	background-color: #01064a;
	text-transform: uppercase;
}

@media only screen and (min-width: 768px) {

	.whole-mail
	{
		width: 80% !important;
		margin-left: 10% !important;
	}

}

@media only screen and (min-width: 411px) {

	.whole-mail
	{
		width: 90% !important;
		margin-left: 5% !important;
	}
	.title
	{
		font-size: 2.5rem !important;
	}
	.notice
	{
		font-size: 0.8rem;
		color: #000;
		text-align: center;
	}
	.second-title
	{
		height: 140px;
		font-size: 1.3rem;
		margin-top: 10px;
	}
	.bidbond-second-title
	{
		/*height: 140px;*/
		font-size: 1.3rem;
		margin-top: 10px;
	}
	.tender-title h2
	{
		font-size: 0.85rem !important;
	}
	.tender-title p
	{
		font-size: 0.75rem !important;
		color: #6c6d71;
	}
	.service-icon
	{
		width: 25%;
		float: left;
		margin-top: 15px;
	}
	.service-details
	{
		width: 70%;
		float: right;
	}
	.social li img
	{
		width: 90%;
		border-radius: 5px;
	}

}

@media only screen and (min-width: 320px) {

	
	.sub-title
	{
		padding: 20px;
	}
	.whole-mail
	{
		width: 96% !important;
		margin-left: 2% !important;
	}
	.title
	{
		font-size: 2rem !important;
	}
	.notice
	{
		font-size: 0.8rem;
		color: #000;
		text-align: center;
	}
	.second-title
	{
		height: 125px;
		font-size: 1.3rem;
		margin-top: 10px;
	}
	.bidbond-second-title
	{
		/*height: 125px;*/
		font-size: 1.3rem;
		margin-top: 10px;
	}
	.tender-title h2
	{
		font-size: 0.8rem !important;
	}
	.tender-title p
	{
		font-size: 0.75rem !important;
		color: #6c6d71;
	}
	.service-icon
	{
		width: 25%;
		float: left;
		margin-top: 25px;
	}
	.service-details
	{
		width: 70%;
		float: right;
	}
	.social li img
	{
		width: 90%;
		border-radius: 5px;
	}

}

@media only screen and (min-width: 780px) {

	.whole-mail
	{
		width: 60% !important;
		margin-left: 20% !important;
	}
	.waiting-section p
	{
		color: #6c6d71;
		font-size: 0.85rem;
	}
	.waiting-section h4
	{
		font-size: 0.9rem;
	}
	.question-title
	{
		font-size: 1rem !important;
	}
	.bidbond-second-title
	{
		/*height: 250px;*/
		font-size: 1.3rem;
		margin-top: 10px;
	}
	.mail-start
	{
		padding-top: 150px;
		font-size: 1.3rem;
	}

}
